!!! html

%html
  %head
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/js/application.js")

    - title Site[:title]
    %title= title.join(' | ')
    %meta{name: 'description', content: description}

  %body
    #container
      %h1
        %a(href="/")= Site[:title]
      %section= yield
      %nav
        %menu
          - Links.each do |link|
            %li
              %a{href:link.href}= link.name

      %footer
        All content &copy; #{Site[:author]}.
        If you'd like to copy, remix, or redistribute this work, please
        %a(href="/pages/about") contact me.
