- posts = BlogPost.latest(10)
- pub_date = Time.now # build time

<?xml version="1.0" encoding="UTF-8" ?>
%rss(version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"
                   xmlns:content="http://purl.org/rss/1.0/modules/content/")
  %channel
    %title= Site[:title]
    %link= permalink
    %description= Site[:description]
    %language= Site[:language] || 'en-us'
    %pubDate= pub_date.rfc822
    %atom:link{href: permalink('rss'),
               rel: "self",
               type: "application/rss+xml"}/

    - posts.each do |post|
      %item
        - url = permalink(post.path)
        %title= post.title
        %description= post.description
        %link= url
        %guid= url
        %comments= "#{url}#comments"
        %pubDate= post.published_at.rfc822
        %content:encoded~ "<![CDATA[#{with_absolute_urls(post.html)}]]>"
